﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/jqueryui")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryui")
    <link rel="stylesheet" href="~/Content/custom.css">
    <script src="~/Scripts/sidebar.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>

    <div class="wrapper">

        <!-- Sidebar -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li class="active">
                    <!-- Link with dropdown items -->
                    <a href="#movieSubmenu" data-toggle="collapse" aria-expanded="false">Peliculas</a>
                    <ul class="collapse list-unstyled" id="movieSubmenu">
                        <li>@Html.ActionLink("Peliculas", "Index", "Movie")</li>
                        <li>@Html.ActionLink("Peliculas EF", "Index", "MovieEF")</li>
                    </ul>
                </li>
                <li>
                    <!-- Link with dropdown items -->
                    <a href="#genreSubmenu" data-toggle="collapse" aria-expanded="false">Generos</a>
                    <ul class="collapse list-unstyled" id="genreSubmenu">
                        <li>@Html.ActionLink("Generos", "Index", "Genre")</li>
                        <li>@Html.ActionLink("Generos EF", "Index", "GenreEF")</li>
                    </ul>
                </li>
                <li>
                <li>
                    <!-- Link with dropdown items -->
                    <a href="#personaSubmenu" data-toggle="collapse" aria-expanded="false">Persona</a>
                    <ul class="collapse list-unstyled" id="personaSubmenu">
                        <li>@Html.ActionLink("Personas", "Index", "Persona")</li>
                        <li>@Html.ActionLink("Autocompletar", "Autocompletar", "Persona")</li>
                        <li>@Html.ActionLink("ListarAjax", "ListarAjax", "Persona")</li>
                        <li>@Html.ActionLink("ListarAjaxAvanzado", "ListarAjaxAvanzado", "Persona")</li>
                    </ul>
                </li>
                <li>
                    <!-- Link with dropdown items -->
                    <a href="#webapiSubmenu" data-toggle="collapse" aria-expanded="false">Web API</a>
                    <ul class="collapse list-unstyled" id="webapiSubmenu">
                        <li>@Html.ActionLink("Get", "GetCursosAsync", "WebAPI")</li>
                        <li>@Html.ActionLink("Post", "Post", "WebAPI")</li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="content" class="container body-content">

            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-align-left"></i>
                Toggle Sidebar
            </button>

            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>

</div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
