﻿@{
    @model List<MovieAppDAL.Models.Movie>
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Movie - Index</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Price
            </th>
            <th>
                ReleaseDate
            </th>
            <th>
                Genre
            </th>
            <th>
                EstaEnCartelera
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (MovieAppDAL.Models.Movie item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Title)
            </td>
            <td>
                @Html.DisplayFor(model => item.Price)
            </td>
            <td>
                @Html.DisplayFor(model => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.Genre.title)
            </td>
            <td>
                @Html.DisplayFor(model => item.EstaEnCartelera)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
        }
    </tbody>
    @Html.ActionLink("Create", "Create", "Movie")
</table>

<span id="mensaje"></span>
<br/>
<button class="btn btn-primary" type="button" id="botonarchivo">Generar fichero</button>

<script src="~/Scripts/ficheroPeliculas.js"></script>
@section Scripts{
    @Scripts.Render("~/bundles/ficheroPeliculas")
}












