﻿@model List<MovieAppDAL.Models.Persona>
@{
    ViewBag.Title = "ListadoAjaxDetalles";
}

<h2>ListadoAjaxDetalles</h2>

<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var persona in Model){
        <tr>
            <td>
                @Ajax.ActionLink(persona.Name, "DetallePersona", new { nombre = persona.Name }, new AjaxOptions()
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "DivDetalles"
                })
            </td>
            <td>
                @persona.Surname
            </td>
            <td>
                @persona.Age
            </td>
            <td>
                @persona.Email
            </td>
            <td>
                @persona.Creditcard
            </td>
        </tr>
         }
    </tbody>
</table>

<div id="DivDetalles"></div>