﻿
@{
    ViewBag.Title = "Autocompletar";
}

<h2>Autocompletar</h2>

Buscar personas: <input type="text" name="persona" id="persona" />

<script>
    $(function(){
        $("#persona").autocomplete({
            source: "@Url.Action("BuscarPersonas","Persona")",
            minLength: 2,
        });
    });
</script> 