﻿@model MovieAppDAL.Models.Persona

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div class="" id="div-alerta">
    <p id="mensaje-alerta"></p>
    <button type="button" id="btn-cerrar-alerta">Cerrar</button>
</div>

<div class="form-horizontal">
    <h4>Crear persona</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { id = "name", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { id = "surname", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { id = "email", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Emailconfirm, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Emailconfirm, new { htmlAttributes = new { id = "emailconfirm", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Emailconfirm, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { id = "age", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Creditcard, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Creditcard, new { htmlAttributes = new { id = "creditcard", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Creditcard, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button id="btnCrearPersona" class="btn btn-default">Crear Persona</button>
        </div>
    </div>
</div>

<script>

$("#btnCrearPersona").click(function(){

    var txtname = $("#name").val();
    var txtsurname = $("#surname").val();
    var txtage = $("#age").val();
    var txtemail = $("#email").val();
    var txtcreditcard = $("#creditcard").val();
    var txtemailconfirm = $("#emailconfirm").val();

    var url = "@Url.Action("CrearPersona", "Persona")";

    var data = {

        name: txtname,
        surname: txtsurname,
        age: txtage,
        email: txtemail,
        emailconfirm: txtemailconfirm,
        creditcard: txtcreditcard

    };

    $.post(url, data).done(function(data){

        if(data.ok){
            $("#div-alerta").removeClass("alert-danger").addClass("alert-success").slideDown(200);
        }

        else{
            $("#div-alerta").removeClass("alert-success").addClass("alert-danger").slideDown(200);
        }

        $("#mensaje-alerta").html(data.mensaje);

    }).fail();

});

$("#btn-cerrar-alerta").click(function(){
    $(this).parent().slideUp(200);
});

</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
