﻿@{
    ViewBag.Title = "ListarAjax";
}

<h2>Listar Ajax</h2>

<button id="btnCargar">Cargar listado</button>

<script>
    $("#btnCargar").click(function(){ 
        $(this).prop("disabled", "disabled"); 
        var url = "@Url.Action("ListarAjaxDo", "Persona")"; 
        $.get(url).done(function (data) { 
            $("#divGet").append(data); 
        }).fail(); 
    }); 
</script>

<div id="divGet"></div>
