﻿
@{
    ViewBag.Title = "ListarAjaxAvanzado";
}

<h2>ListarAjaxAvanzado</h2>

@Ajax.ActionLink("Cargar Sección", "ListarAjaxAvanzadoDo",null, new AjaxOptions()
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "resultado"
}, new { @class = "btn btn-success" } )

<div id="resultado"></div> 