﻿@{
    ViewBag.Title = "GET";
}

<h2>Get</h2>

@Ajax.ActionLink("Utilizar GET con AJAX", "GetCursosAsync", new AjaxOptions()
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "divContenido",
})

<div id="divContenido"></div>