﻿@{
    ViewBag.Title = "GETID";
}

<h2>/api/Cursos/id</h2>

Id: <input type="number" id="numero" />
<button type="button" id="btnCargar">Realizar petición</button>

<script>
    $("#btnCargar").click(function(){
        $(this).prop("disabled", "disabled");
        var numero = $("#numero").val();
        var urlBase = "@Url.Action("GetCursoAsync")";
        var url = urlBase + "/" + numero;
        var data = { num : numero };
        $.get(url,data).done(function (data) {
            $("#divContenido").append(data);
            }).fail();
    });
</script>

@ViewBag.error

<div id="divContenido"></div>