﻿@model IEnumerable<MovieAppDAL.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.title)
            </td>
            <td>
                @Html.DisplayFor(model => item.description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.ID })
                @Html.ActionLink("Details", "Details", new { item.ID })
                @Html.ActionLink("Delete", "Delete", new { item.ID })
            </td>
        </tr>
    }

</table>

